@font-face {
    font-family: 'Commissioner_Regular';
    src: url('./../assets/font/Commissioner-Regular.eot');
    src: url('./../assets/font/Commissioner-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../assets/font/Commissioner-Regular.woff2') format('woff2'),
        url('./../assets/font/Commissioner-Regular.woff') format('woff'),
        url('./../assets/font/Commissioner-Regular.ttf') format('truetype'),
        url('./../assets/font/Commissioner-Regular.svg#Commissioner-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_Light';
    src: url('./../assets/font/Lato-Light.eot');
    src: url('./../assets/font/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('./../assets/font/Lato-Light.woff2') format('woff2'),
        url('./../assets/font/Lato-Light.woff') format('woff'),
        url('./../assets/font/Lato-Light.ttf') format('truetype'),
        url('./../assets/font/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_Regular';
    src: url('./../assets/font/Lato-Regular.eot');
    src: url('./../assets/font/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../assets/font/Lato-Regular.woff2') format('woff2'),
        url('./../assets/font/Lato-Regular.woff') format('woff'),
        url('./../assets/font/Lato-Regular.ttf') format('truetype'),
        url('./../assets/font/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Commissioner_Medium';
    src: url('./../assets/font/Commissioner-Medium.eot');
    src: url('./../assets/font/Commissioner-Medium.eot?#iefix') format('embedded-opentype'),
        url('./../assets/font/Commissioner-Medium.woff2') format('woff2'),
        url('./../assets/font/Commissioner-Medium.woff') format('woff'),
        url('./../assets/font/Commissioner-Medium.ttf') format('truetype'),
        url('./../assets/font/Commissioner-Medium.svg#Commissioner-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Commissioner_Bold';
    src: url('./../assets/font/Commissioner-Bold.eot');
    src: url('./../assets/font/Commissioner-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../assets/font/Commissioner-Bold.woff2') format('woff2'),
        url('./../assets/font/Commissioner-Bold.woff') format('woff'),
        url('./../assets/font/Commissioner-Bold.ttf') format('truetype'),
        url('./../assets/font/Commissioner-Bold.svg#Commissioner-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source_Sans_Pro_Regular';
    src: url('./../SourceSansPro-Regular.eot');
    src: url('./../SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../SourceSansPro-Regular.woff2') format('woff2'),
        url('./../SourceSansPro-Regular.woff') format('woff'),
        url('./../SourceSansPro-Regular.ttf') format('truetype'),
        url('./../SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source_Sans_Pro_Light';
    src: url('./../SourceSansPro-Light.eot');
    src: url('./../SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('./../SourceSansPro-Light.woff2') format('woff2'),
        url('./../SourceSansPro-Light.woff') format('woff'),
        url('./../SourceSansPro-Light.ttf') format('truetype'),
        url('./../SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira_Sans_ExtraBold';
    src: url('./../FiraSans-ExtraBold.eot');
    src: url('./../FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./../FiraSans-ExtraBold.woff2') format('woff2'),
        url('./../FiraSans-ExtraBold.woff') format('woff'),
        url('./../FiraSans-ExtraBold.ttf') format('truetype'),
        url('./../FiraSans-ExtraBold.svg#FiraSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}