@use './font';

$white_color: #FFFFFF;
$black_color: #000000;

$background_main_color: $white_color;
$background_secondary_color: #F2F2F2;

$dark_color: $black_color;
$secondary_color: rgba(0, 0, 0, 0.5);
$details_color: rgba(0, 0, 0, 0.1);
$desabled_color: rgba(0, 0, 0, 0.1);
$subtitle_color: rgba(0, 0, 0, 0.75);

$main_text_color: rgba(0, 0, 0, 0.8);
$header_color: rgba(0, 0, 0, 0.9);

$accent_color: #DEC377;
$accent_color_75: rgba(222, 195, 119, 0.75);
$accent_color_40: rgba(222, 195, 119, 0.4);
$accent_bright_color: #AB8B2F;
$accent_saturated_color: #D3AF4A;

$ff_commissioner_regular: 'Commissioner_Regular',
sans-serif;
$ff_commissioner_medium: 'Commissioner_Medium',
sans-serif;
$ff_commissioner_bold: 'Commissioner_Bold',
sans-serif;
$ff_lato_light: 'Lato_Light',
sans-serif;
$ff_lato_regular: 'Lato_Regular',
sans-serif;
$ff_source_sans_pro_light: 'Source_Sans_Pro_Light',
sans-serif;
$ff_source_sans_pro_regular: 'Source_Sans_Pro_Regular',
sans-serif;

$font_weight_semi_bold: 600;

$box_shadow_20: 0px 4px 20px rgba(0, 0, 0, 0.08);
$box_shadow_10: 0px 4px 10px rgba(0, 0, 0, 0.05);
$box_shadow_insert: inset 0px 20px 50px rgba(0, 0, 0, 0.15);

$indent_section_section: 100px;
$indent_color_block: 80px;
$indent_signature_content: 40px;
$indent_block_block: 40px;
$indent_head_card: 35px;
$indent_head_text: 30px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-size: 10px;
    font-family: $ff_lato_regular;
    color: $main_text_color;
}

.container {
    position: relative;

    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    width: 100%;
    padding: 15px 0;

    flex-wrap: wrap;
}

.header_links,
.header_menu {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: space-between;
}

.header_links_language {
    font-family: $ff_source_sans_pro_light;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.select_language_list,
.select_language_item {
    padding: 10px;

    font-family: $ff_source_sans_pro_regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    border: 0;
    outline: 0;
}

.header_links_social,
.phone_links {
    display: flex;
    align-items: center;
}

.phone_links_number {

    font-family: $ff_commissioner_regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;

    color: $secondary_color;

    text-decoration: none;
}

.header_menu_list {
    display: flex;
    align-items: center;
}

.header_menu_item {
    margin-left: 50px;
    list-style-type: none;

    font-family: $ff_commissioner_regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;

    text-transform: uppercase;

    color: $subtitle_color;

    cursor: pointer;
}

.main_slider {
    position: absolute;

    // width: 1920px;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 150px;

    background-image: url('./../assets/img/slide_1.png');
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: auto;
}

.main_slider_content {
    display: flex;
    width: 50%;
    height: 100%;
    margin-top: -43px;

    flex-direction: column;
    align-self: self-start;
    align-items: flex-start;
    justify-content: center;
}

.main_slider_head {
    margin-bottom: 20px;

    font-family: $ff_commissioner_regular;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.01em;
    text-align: left;

    color: $header_color;
}

.main_slider_title {
    margin-bottom: 50px;

    font-family: $ff_lato_light;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

    color: $main_text_color;
}

.main_slider_button {
    width: 200px;
    height: 45px;

    font-family: $ff_commissioner_bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.08em;
    text-align: center;

    color: $white_color;
    text-transform: uppercase;

    border-radius: 2px;
    border: 0;
    outline: 0;
    background-color: $accent_color;

    cursor: pointer;
}

.main_slider_arrow_left {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 121px;
    left: 24px;
}

.main_slider_arrow_right {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 121px;
    left: 85px;
}